{% load static %}
<html>
<head>
    <title>Dawid pawlowski blog</title>
</head>
<body>
    <div>
        <h1><a href="">Dawid Pawlowski Blozzg</a></h1>asdasd
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
    <div>
        {% block content %}
        {% for post in posty %}
        <div>
            <div>
                <p>published: {{ post.published_date }}</p>
            </div>
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
        {% endblock %}
    </div>

</body>
</html>